<header role="navigation">
    <div class="navbar is-fixed-top is-link">
        <div class="navabar-brand">
            AniketDVD-GCItheme
        </div>
    </div>
    {{ page.header }}
</header>
{{ page.breadcrumb }}
<main role="main">
    <div class="main-content">
    {{ page.content }}
    </div>
    <div class="is-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque expedita earum consequatur dolor quidem cum deserunt qui deleniti saepe iste impedit facilis nesciunt, et dicta similique, dolores maxime vel voluptatum autem aperiam pariatur libero optio ducimus quam. Saepe ipsum mollitia laborum assumenda ullam a et repudiandae, illo animi odio officia aspernatur atque commodi, necessitatibus officiis perferendis pariatur sit, facere dolor nobis quam quia exercitationem. Labore incidunt, minus praesentium nostrum repellat facere, tempore possimus sequi quo dignissimos voluptatum, odit atque expedita ad voluptatem excepturi. Repellat dignissimos expedita iure illum minima in, vitae est, eveniet quas quis laudantium accusamus natus officia at quos modi mollitia deserunt praesentium. Ut non inventore nam, aut itaque consequatur vitae, ratione odit voluptates nisi temporibus iusto odio distinctio provident eaque laborum alias, voluptatum dolorum eveniet? Recusandae iusto laudantium deserunt animi in! Blanditiis vero tempora saepe pariatur debitis possimus harum numquam eaque quis deleniti facilis impedit, autem dolorum neque perspiciatis nostrum molestiae earum perferendis et accusamus atque. Asperiores culpa vero reprehenderit sint quasi quo perspiciatis, modi voluptate ullam amet quam illo eveniet quod rerum earum ex sed, corrupti officia. Dolorem magnam quis, ratione nam alias quas deserunt explicabo quod odio illo, sint consectetur ullam libero. Nihil sed quia soluta eaque quo! Fugit aliquam praesentium accusamus commodi! Rerum, magnam non! Animi facere, minus aperiam ut nostrum fuga numquam, qui quae atque veniam voluptas explicabo. Minus eligendi fugit suscipit optio, odio ea perferendis cupiditate harum. Consectetur fuga vitae sed, quasi sapiente voluptatem suscipit nam assumenda. Harum doloribus reiciendis necessitatibus voluptas molestiae, saepe ex odio earum culpa voluptatibus, deleniti error assumenda. Similique tenetur ea facere quo impedit esse nesciunt explicabo vero hic assumenda aperiam, laboriosam sed debitis blanditiis culpa reiciendis magnam veniam perspiciatis, velit commodi totam illum! Necessitatibus alias, totam eos eaque porro accusamus numquam beatae laborum similique cum hic recusandae?
    </div>
</main>

<footer role="contentinfo" class="is-dark is-fixed-bottom">
    <div>
        {{ page.footer }}
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque expedita earum consequatur dolor quidem cum deserunt qui deleniti saepe iste impedit facilis nesciunt, et dicta similique, dolores maxime vel voluptatum autem aperiam pariatur libero optio ducimus quam. Saepe ipsum mollitia laborum assumenda ullam a et repudiandae, illo animi odio officia aspernatur atque commodi, necessitatibus officiis perferendis pariatur sit, facere dolor nobis quam quia exercitationem. Labore incidunt, minus praesentium nostrum repellat facere, tempore possimus sequi quo dignissimos voluptatum, odit atque expedita ad voluptatem excepturi. Repellat dignissimos expedita iure illum minima in, vitae est, eveniet quas quis laudantium accusamus natus officia at quos modi mollitia deserunt praesentium. Ut non inventore nam, aut itaque consequatur vitae, ratione odit voluptates nisi temporibus iusto odio distinctio provident eaque laborum alias, voluptatum dolorum eveniet? Recusandae iusto laudantium deserunt animi in! Blanditiis vero tempora saepe pariatur debitis possimus harum numquam eaque quis deleniti facilis impedit, autem dolorum neque perspiciatis nostrum molestiae earum perferendis et accusamus atque. Asperiores culpa vero reprehenderit sint quasi quo perspiciatis, modi voluptate ullam amet quam illo eveniet quod rerum earum ex sed, corrupti officia. Dolorem magnam quis, ratione nam alias quas deserunt explicabo quod odio illo, sint consectetur ullam libero. Nihil sed quia soluta eaque quo! Fugit aliquam praesentium accusamus commodi! Rerum, magnam non! Animi facere, minus aperiam ut nostrum fuga numquam, qui quae atque veniam voluptas explicabo. Minus eligendi fugit suscipit optio, odio ea perferendis cupiditate harum. Consectetur fuga vitae sed, quasi sapiente voluptatem suscipit nam assumenda. Harum doloribus reiciendis necessitatibus voluptas molestiae, saepe ex odio earum culpa voluptatibus, deleniti error assumenda. Similique tenetur ea facere quo impedit esse nesciunt explicabo vero hic assumenda aperiam, laboriosam sed debitis blanditiis culpa reiciendis magnam veniam perspiciatis, velit commodi totam illum! Necessitatibus alias, totam eos eaque porro accusamus numquam beatae laborum similique cum hic recusandae?    
    </div>
</footer>